@model List<VideoWorld.Models.Customer>

@{
    ViewBag.Title = "Admin";
}

<h2>Customers</h2>
<div class="customers">
@foreach(var customer in Model) {
    <ul>
        <li>
            @customer.DisplayName  (@customer.Username)
        </li>
    </ul>

    }
</div>
<p><a href="/admin/addcustomer">Add New Customer</a></p>
<p><a href="/admin/addmovie">Add New Movie</a></p>
    
