@model VideoWorld.Models.HomePageModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="cart">
   @Model.Cart.Count item(s) in your cart.
</div>

<table class="movies">
@foreach (var item in Model.Movies) {    
    <tr class="movie">
        <td class="title">@item.Title</td>
        <td>
            <form method="post" action="/cart"><input type="submit" class="addToCart" name="addToCart" value="Add"/><input type="hidden" name="title" value="@item.Title"/></form>
        </td>
    </tr>
}
</table>