@model VideoWorld.Models.HomePageModel

@{
    ViewBag.Title = "Index";
}

@section adminLink {
@if(Model.ShowAdminLink) {
    <a href="/admin">Admin</a>
}
}
<h2>Index</h2>

<div class="cart">
   @Model.Cart.Count item(s) in your cart.
</div>

@if(Model.ShowDetailedMovies) {
    @Html.Partial("DetailedMovies"); 
} else {
    @Html.Partial("Movies"); 
}    