@model IEnumerable<VideoWorld.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Transaction History</h2>

<div class="transactions">
@foreach (var transaction in Model) {
    <div class="transactionHistory">
        <h3>Transaction on @transaction.DateTime.ToShortDateString()</h3>
        <p>Movies Rented:</p>
        <div class="rentals"></div>
            @foreach (var rental in transaction.Rentals)
            {
                <div class="rental">
                    @rental.Movie.Title
                </div>
            }
    </div>
}
</div>
