@model VideoWorld.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<label class="error">@Model.ErrorMessage</label>
<form method="post" action="/login">
    <div> Username: <input type="text" name="username" value="@Model.Username"/></div>
    <div> Password: <input type="password" name="password" value="@Model.Password" /></div>
    <div><input type="submit" name="login" value="Login" /></div>
</form>
<div id="existing-users">
        <p>Current valid users:</p>
        <ul>
            @foreach (var customer in Model.AllCustomers)
            {
                <li>@customer.Username</li>
            }
        </ul>
        <p>Password is: {initials}-password (e.g: "zt-password")</p>
</div>
