@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<p>@TempData["errorMessage"]</p>
<form method="post" action="/login">
    <input type="text" name="username" value="" />
    <input type="submit" name="login" value="Login" />
</form>
