@model VideoWorld.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<p>@Model.ErrorMessage</p>
<form method="post" action="/login">
    <div> Username: <input type="text" name="username" value="@Model.Username"/></div>
    <div> Password: <input type="password" name="password" value="@Model.Password" /></div>
    <div><input type="submit" name="login" value="Login" /></div>
</form>
