body {
	margin: 0 10px 0 10px;
	font : normal 12px Verdana, Arial, Helvetica, sans-serif;
    color: #0464BB; 
    padding: 0;
}

.error {
    color: Red;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.transaction 
{
    font-size: medium;
}

.header {
	margin: 0 -10px 0 -10px;
	background-color: #ccccff;
	padding: 0;
	text-align: center;
	height: 2em;
}

.header h2 {
	padding: 0;
	margin: 0;
	display: inline;
}

.header .tab {
	background-color: #aaaaff;
	float: right;
	margin: 0 1em 0 1em;
	padding: 0 10px 0 10px;
	height: 100%;
	color: #ffffff;
}

.cart 
{
    font-size: medium;
    text-align: left;
}

table.movies {
    border-collapse:collapse;
    width: 75%;
    text-align: left;
}

table.movies tr td, th td {
    border: 1px solid black;
}

table.movies td#addButton
{
    text-align: center;
}

div input[type=text],
div input[type=password]
{
    margin: 5px;
}

div.movieGrid 
{
    width: auto;
}

.addMovie_form label,
.addCustomer_form label
{
    width:10%;
    float:left;
    margin: 5px;
}

table.rentals
{
    width: 25%;
    text-align: left;
    margin-bottom: 20px;
}

div.transactionHistory
{
    margin-bottom: 20px;
}
